<header>
    <div class="logo-container"> 
        <a routerLink="/"> 
            <img src="assets/logo.png" alt="Logo de l'entreprise" class="logo-img">
        </a>
    </div>
    <nav class="desktop-menu">
        <ul>
            <li><a routerLink="/contact">Contact</a></li> 
            <li><a routerLink="/about">À propos</a></li> 
        </ul>
    </nav>
    <div class="mobile-menu"> 
        <a href="#" (click)="toggleMenu()">
            <img src="assets/menu-icon.png" alt="Menu icon" height="30px" width="30px">
        </a>
        <nav>
            <ul>
                <li><a routerLink="/contact">Contact</a></li> 
                <li><a routerLink="/about">À propos</a></li> 
            </ul>
        </nav>
    </div>    
</header>

















  