header { 
    background-color: #fff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    padding: 10px; 
}

.logo-img {
    height: 50px; 
    width: 120px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #151217; 
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0074c7; 
}
.mobile-menu {
    display: none; 
}

@media only screen and (max-width: 600px) {
    .desktop-menu {
        display: none; 
    }
    .mobile-menu {
        display: block; 
    }
    .menu-list {
        display: none;
      }
      .menu-list ul li a {
        text-decoration: none; 
        color: #000; 
        transition: color 0.3s; 
      }
      
      .menu-list ul li a:hover {
        text-decoration: underline;
        color: #007bff; 
      }
      
      
      .mobile-menu.visible .menu-list {
        display: block;
      }
      
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding-left: 30px; 
  }
  
  .search-button {
    position: absolute;
    left: 5px; 
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  
  
  .search-button img {
    vertical-align: middle; 
    margin-right: 5px;
  }
  .search-results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .search-results li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-results li:hover {
    background-color: #e0e0e0;
  }
  

















