footer {
  background-color: #0074c7;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.address {
  margin-top: 20px;
  border-right: 1px solid white; /* Ajoute une ligne blanche à droite de l'adresse */
  padding-right: 20px; /* Espacement entre l'adresse et la ligne */
}

.legal-menu ul {
  list-style-type: none;
}

.legal-menu li {
  display: inline;
  margin-right: 10px;
}

.address, .contact {
  margin-top: 20px;
  border-right: 1px solid white; /* Ajoute une ligne blanche à droite */
  padding-right: 20px; /* Espacement entre le contenu et la ligne */
}
.contact p a {
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  color: #fff; /* Couleur du texte */
}

.contact p a:hover {
  text-decoration: underline; /* Souligne les liens uniquement au survol */
}

.legal-menu ul li a {
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  color: #fff; /* Couleur du texte */
}

.legal-menu ul li a:hover {
  text-decoration: underline; /* Souligne les liens uniquement au survol */
}



  



  