<footer>
    <div class="address">
      <p>101 cours Charlemagne</p>
      <p>CS 20033</p>
      <p>69269 LYON CEDEX 02</p>
      <p>France</p>
    </div>
    <div class="contact">
      <p><a href="tel:+330426734000">+33 (0)4 26 73 40 00</a></p>
    </div>
    <div class="legal-menu">
        <ul>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="#">Données personnelles</a></li>
          <li><a href="#">Accessibilité</a></li>
          <li><a href="#">Cookies</a></li>
        </ul>
      </div>
  </footer>
  
  

  
  
