/* Styles pour la page À propos */
.main {
    font-family: 'Bubbleboddy Neue', sans-serif; /* Utilisez la police Bubbleboddy Neue pour la page À propos */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    flex-grow: 1;
}

.about-content h2 {
    font-family: 'Bubbleboddy Neue', sans-serif; 
    font-size: 24px;
    color: #DA001E;
    margin-bottom: 20px;
}

.about-content p {
    font-family: 'Comfortaa', cursive; 
    font-size: 16px;
    line-height: 1.6;
    color: #151217;
}

  
  

  
  