<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-header></app-header>
<main class="main">
    <section class="how-to-find">
        <h2>Comment trouver mon artisan ?</h2>
        <ol>
            <li>Choisissez la catégorie d’artisanat dans le menu.</li>
            <li>Choisissez un artisan.</li>
            <li>Contactez-le via le formulaire de contact.</li>
            <li>Une réponse sera apportée sous 48h.</li>
        </ol>
    </section>
    <section class="top-artisans">
        <h2>Les trois artisans du mois</h2>
        <div class="artisan-container">
            <div class="artisan" *ngFor="let artisan of topArtisans">
                <h3>{{ artisan.name }}</h3>
                <div class="rating">
                    <span *ngFor="let _ of getStars(artisan.rating)" class="star">&#9733;</span>
                </div>
                <p>Spécialité : {{ artisan.speciality }}</p>
                <p>Localisation : {{ artisan.location }}</p>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>











  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  